@base: #3C5FFF;
* {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
button {
    outline: none;
    background: none;
    border: none;
}
.btn {
    height: 100px;
    border-radius: 50px;
    background-color: @base;
    font-family: PingFangSC-Medium;
    font-size: 30px;
    color: #FFFFFF;
    font-weight: 500;
    display: block;
    width: 100%;
    &.light {
        font-family: PingFangSC-Regular;
        font-weight: 400;
    }
}
body {
    background-color: @base;
    background-image: url(./images/bg1.png);
    background-position: center 122px;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 130px;
}
header {
    height: 72px;
    font-family: PingFangSC-Medium;
    font-size: 30px;
    font-weight: 500;
    line-height: 72px;
    text-align: center;
    background-color: #EDEDED;
}
.comments {
    height: 50px;
    line-height: 50px;
    background-color: #C1CBFF;
    text-align: center;
    font-family: PingFangSC-Regular;
    font-size: 24px;
    color: @base;
    font-weight: 400;
}
.cards {
    margin-top: 245px;
    padding: 0 25px;
}
.card {
    background-color: #FFF;
    border-radius: 40px;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    background-repeat: no-repeat;
    background-size: 500px 80px;
    background-position: top;
    & + .card {
        margin-top: 20px;
    }
    &.card-a {
        background-size: 500px 80px, 270px 270px;
        background-position: top, left top;
        background-image: url(./images/card_a.png), url(./images/safe.png);
        padding-top: 130px;
        padding-bottom: 50px;
    }
    &.card-b {
        background-image: url(./images/card_b.png);
        padding-bottom: 40px;
    }
    &.card-c {
        background-image: url(./images/card_c.png);
        padding-bottom: 30px;
    }
}
.tes-text {
    height: 48px;
    font-family: PingFangSC-Medium;
    font-size: 34px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
}
#start {
    margin-top: 50px;
}
.test-paper {
    font-family: PingFangSC-Regular;
    font-size: 24px;
    color: #666666;
    line-height: 36px;
    font-weight: 400;
}
.science {
    height: 320px;
    padding: 0 30px;
    line-height: 45px;
    font-family: PingFangSC-Semibold;
    font-size: 32px;
    color: #FFFFFF;
    font-weight: 600;
    background-image: url(./images/science.png);
    background-size: 100%;
    display: flex;
    align-items: center;
}
